@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap%27');

:root{
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
}

a{
    text-decoration: none;
    list-style: none;
}

#menu{
    background-color: rgb(35, 47, 62);
    display: flex;
}

.logo{
    max-height: 100px;
    display: flex;
}

.pesquisa{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    display: flex;
}

.perfil,
.carrinho,
.compras{
    padding-left: 45px;
    padding-top: 35px;
    color: white;
    font-size: 18px;
    display: flex;
}

.buscar{
    border-radius: 10px;
    background-color: whitesmoke;
    width: 400px;
    height: 36px;
    float: left;
    cursor: pointer;
    display: flex;
}

.perfil:hover{
    color: red;
    cursor: pointer;
}

.carrinho:hover{
    color: red;
    cursor: pointer;
}

.compras:hover{
    color: red;
    cursor: pointer;
}

#menu-dois{
    background-color: #33455c;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submenu{
    color: white;
    margin-left: 20px;
}

.submenu:hover{
    cursor: pointer;
    border: 2px solid white;
}

.bx-menu{
    color: white;
}

#container{
    width: 100%;
    height: auto;
    background: url("https://m.media-amazon.com/images/I/71v3m29uraL._SX3000_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#container .imagem{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 200px 60px 20px 60px;
    gap: 20px;
}

.conteudo{
    width: 100%;
    background-color: white;
    padding: 20px;
    font-size: 12px;
}

.produto-img{
    max-width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link{
    text-decoration: none;
}

h3{
    font-weight: bold;
}

.voltar{
    background-color: #33455c;
    padding-left: 610px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.informacoes{
    background-color: rgb(35, 47, 62);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-dois{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
}

.link-tres{
    text-decoration: none;
    color: var(--white);
    font-size: 12px;
}

ul{
    list-style: none;
    list-style-type: none;
}

h4{
    color: var(--white);
}

/*login*/
#login{
    background-color: red;
}